POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=healthcare
# Dynaconf somente carrega variáveis prefixadas com FLASK_ or DYNACONF_
# variável é carregada sem prefixo: FLASK_DB_URL -> DB_URL
FLASK_DB_URL=postgresql+psycopg2://postgres:postgres@db:5432/healthcare
FLASK_JWT_SECRET_KEY=dev-secret-key-change-in-production
FLASK_JWT_EXPIRATION_HOURS=24